
body {
    background-color: #660000; 
    color: #e0e0e0; 
    font-family: Courier; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #660000; 
    color: #ffffff;
    text-align: center;
    padding: 30px;
    border-bottom: 4px double #191616; 
    text-transform: uppercase;
}

nav {
    background-color: #1a1a1a;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
    text-shadow: 0px 0px 8px #ff0000; 
}

section {
    background-color: #1a1a1a;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #333;
    max-width: 800px;
}

h2 {
    color: #ff0000;
    border-bottom: 1px solid #660000;
}

.asesino {
    background-color: #141414;
    margin: 20px auto;
    padding: 15px;
    border-left: 10px solid #8B0000; 
    max-width: 750px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.7);
}

h3 {
    color: #ff3333;
    margin-top: 0;
}

footer {
    background-color: #252424;
    color: #ffffff; 
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    font-size: 0.8em;
    border-top: 1px solid #222;
}

.foto-dahmer {
    display: none; 
    width: 200px;
    margin-top: 10px;
    border: 2px solid #ff0000;
    transition: transform 0.3s ease; 
}

.asesino:hover .foto-dahmer {
    display: block;
}


.foto-dahmer:active {
    transform: scale(2.5);
    position: relative;
    z-index: 10;
}